extends ../layout

block content
  .auth-page
    .auth-card
      .auth-header
        .auth-icon
          i.fas.fa-lock
        h1 Change Password
        p Admin Account Security
      if error && error.length
        each msg in error
          .alert.alert-error
            i.fas.fa-exclamation-circle
            span #{msg}
      if success && success.length
        each msg in success
          .alert.alert-success
            i.fas.fa-check-circle
            span #{msg}
      form.auth-form(method='POST', action='/auth/admin/change-password')
        .form-group
          label Current Password
          .input-wrap
            i.fas.fa-lock
            input(type='password', name='currentPassword', required, placeholder='Enter current password')
        .form-group
          label New Password
          .input-wrap
            i.fas.fa-key
            input(type='password', name='newPassword', required, placeholder='At least 6 characters', minlength=6)
        .form-group
          label Confirm New Password
          .input-wrap
            i.fas.fa-key
            input(type='password', name='confirmPassword', required, placeholder='Repeat new password')
        button.btn.btn-primary.btn-full(type='submit')
          i.fas.fa-save
          span Update Password
      .auth-footer
        a(href='/admin/dashboard') ← Back to Dashboard
