extends ../layout

block content
  .auth-page
    .auth-card
      .auth-header
        .auth-icon.teacher-icon
          i.fas.fa-unlock
        h1 Reset Password
        p Enter your new password below
      if error && error.length
        each msg in error
          .alert.alert-error
            i.fas.fa-exclamation-circle
            span #{msg}
      form.auth-form(method='POST', action=`/auth/teacher/reset-password/${token}`)
        .form-group
          label New Password
          .input-wrap
            i.fas.fa-key
            input(type='password', name='newPassword', required, placeholder='At least 6 characters', minlength=6)
        .form-group
          label Confirm New Password
          .input-wrap
            i.fas.fa-key
            input(type='password', name='confirmPassword', required, placeholder='Repeat new password')
        button.btn.btn-primary.btn-full.btn-teacher(type='submit')
          i.fas.fa-check
          span Reset Password
      .auth-footer
        a(href='/auth/teacher/login') ← Back to Login
