extends ../layout

block content
  .auth-page
    .auth-card
      .auth-header
        .auth-icon.teacher-icon
          i.fas.fa-envelope
        h1 Forgot Password
        p Enter your email to receive a reset link
      if error && error.length
        each msg in error
          .alert.alert-error
            i.fas.fa-exclamation-circle
            span #{msg}
      if success && success.length
        each msg in success
          .alert.alert-success
            i.fas.fa-check-circle
            span #{msg}
            br
            small Check your inbox (and spam folder) for the reset link.
      form.auth-form(method='POST', action='/auth/teacher/forgot-password')
        .form-group
          label Email Address
          .input-wrap
            i.fas.fa-envelope
            input(type='email', name='email', required, placeholder='Your registered email')
        button.btn.btn-primary.btn-full.btn-teacher(type='submit')
          i.fas.fa-paper-plane
          span Send Reset Link
      .auth-footer
        a(href='/auth/teacher/login') ← Back to Login
